<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    {% include 'preset.html' %}
    <title>Korean Tour</title>
    <script>
        $(document).ready(
            (function () {
                $.ajax({
                    url: '/default',
                    method: 'GET',
                    data: {},
                    success: function (res) {

                        let PopSection = document.querySelector('#hot-list > .row');
                        PopSection.innerHTML = '';

                        for(let i = 0; i < res.length; ++i) {
                            const content = res[i]
                            const img_url = content['img_url']
                            const like = content['like']
                            const location = content['location']
                            const title = content['title']
                            const search_keyword = content['searchKeyword']
                            const temp = `

                                    <div class="travel-column col-lg-3 col-md-4 col-sm-6">
                                        <a href="/show?title=${title}&location=${location}&img_url=${img_url}&like=${like}&searchKeyword=${search_keyword}">
                                        <div class="card circular">
                                            <div class="card-body">
                                                <img
                                                        class="hot-card"
                                                        src="${img_url}"
                                                        alt="${location}"
                                                />
                                                <h2 class="subtitle">${title}</h2>
                                                <p class="like">좋아요 : ${like}</p>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                `

                            PopSection.innerHTML += temp;

                        }

                    },
                });
            })()
        );

    </script>
</head>
<body>
{% extends 'navbar.html' %}
{% block navbar %}
{{super()}}
<section id="Testimonials">
    <div
            id="testimonial-carousel"
            class="carousel slide"
            data-ride="carousel slide"
    >
        <div class="carousel-inner">
            <div
                    class="carousel-item active carousel-1 container-fluid testmonial"
            >
                <h2 class="catchingword">Lose yourself to find genuine Yourself!</h2>
                <em>Anthoer Journey</em>
            </div>

            <div class="carousel-item carousel-2 container-fluid testmonial">
                <h2 class="catchingword">
                    sometimes just travel around. Find new awesome place you have
                    never experience before.
                </h2>

                <em>Hot place</em>
            </div>

            <a
                    class="carousel-control-prev"
                    href="#testimonial-carousel"
                    role="button"
                    data-slide="prev"
            >
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a
                    class="carousel-control-next"
                    href="#testimonial-carousel"
                    role="button"
                    data-slide="next"
            >
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>
{% endblock %}

{% block cardList %}
{{super()}}
{% endblock %}

{% block mailto %}
{{ super() }}
{% endblock %}}

</body>
</html>
